<head>
    <!-- CSS -->
    <!-- To use static files in ejs files, must "use" them through the "static" middleware in our main js file. -->
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div>
        <!-- Show all details for a City, including full details on the country it is in. -->
        <!-- All text boxes (inputs) are readonly, values can't be changed -->
        <h1>City Details</h1>

        <!-- ---CITY--- -->
        <table>
            <!-- City Code -->
            <p>
                <label>City Code</label>
                <input value="<%= city.cty_code %>" readonly>
            </p>
            <!-- City Name -->
            <p>
                <label>City Name</label>
                <input value="<%= city.cty_name %>" readonly>
            </p>
            <!-- City Population -->
            <p>
                <label>City Population</label>
                <input value="<%= city.population %>" readonly>
            </p>
            <!-- is Coastal? (by the sea) -->
            <p>
                <label>Is coastal?</label>
                <input value="<%= city.isCoastal %>" readonly>
            </p>
            <!-- Area (KM) -->
            <p>
                <label>Area (KM)</label>
                <input value="<%= city.areaKM %>" readonly>
            </p>

            <p> <br> </p>
            
            <!-- ---COUNTRY--- -->
            <!-- Country Code -->
            <p>
                <label>Country Code</label>
                <input value="<%= country.co_code %>" readonly>
            </p>
            <!-- Country Name -->
            <p>
                <label>Country Name</label>
                <input value="<%= country.co_name %>" readonly>
            </p>
        </table>
    </div>

    <!-- Link back to home -->
    <p></p><a href="http://localhost:3007/">Home</a>
</body>