<style>
    table {
        border: 2px solid rgb(154, 154, 154);
        border-collapse: collapse;
        /* Stops different borders from overlapping*/
    }

    th {
        border: solid 2px rgb(154, 154, 154);
    }

    td {
        border: solid 2px rgb(154, 154, 154);
        padding: 3px;
        /* Space around the contents of every cell, so it doesn't look so squished*/
    }
</style>

<body>
    <!-- Header Text -->
    <h1>Countries</h1>

    <!-- Add country button -->
    <form action="http://localhost:3007/AddCountry/" method="get">
        <input type="submit" value="Add Country"/>
    </form>

    <!-- Table -->
    <table>
        <!-- Column names at top -->
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Details</th>
            <th>Action</th>
            <th></th>
        </tr>
        <!-- define and loop through country array -->
        <!-- data is passed in when this view is rendered -->
        <!-- create a row for each country -->
        <% countries.forEach((country)=>
            { %>
            <tr>
                <!-- ___ -->
                <td>
                    <%= country.co_code %>
                </td>
                <td>
                    <%= country.co_name %>
                </td>
                <td>
                    <%= country.co_details %>
                </td>
                <!-- Clicking on these will allow the user to update/delete the item on that row. -->
                <!-- We append the code of each country to the end of the edit/delete url for each country to pass them in as a parameter. -->
                <!-- ---Update -->
                <td> <a href="http://localhost:3007/edit/<%= country.co_code %>">Update</a> </td>
                <!-- ---Delete -->
                <td> <a href="http://localhost:3007/delete/<%= country.co_code %>">Delete</a> </td>
            </tr>
            <% }) %>
    </table>

    <!-- Link back to home -->
    <a href="http://localhost:3007/">Home</a>
</body>